## Happy Hare MMU hardware config file with config for unknown

[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127942078-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=tr:gpio9,
    MMU_GEAR_STEP=tr:gpio6,
    MMU_GEAR_DIR=tr:gpio5,
    MMU_GEAR_ENABLE=!tr:gpio7,
    MMU_GEAR_DIAG=tr:tmc2209_stepper_mmu_gear:virtual_endstop,
    MMU_SEL_UART=tr:gpio9,
    MMU_SEL_STEP=tr:gpio11,
    MMU_SEL_DIR=tr:gpio10,
    MMU_SEL_ENABLE=!tr:gpio12,
    MMU_SEL_DIAG=tr:^gpio4,
    MMU_SEL_ENDSTOP=^tr:gpio4,
    MMU_SERVO=tr:gpio29,
    MMU_ENCODER={encoder_pin},
    MMU_GATE_SENSOR=^tr:gpio3,
    MMU_NEOPIXEL=tr:gpio24,
    EXTRUDER_SENSOR=tmc2209_extruder:virtual_endstop,
    TOOLHEAD_SENSOR=PC5,

# [belay my_belay]
# extruder_type: mmu
# sensor_pin: mmu:gpio25 #^PA0
# multiplier_high: 1.05
# multiplier_low: 0.95
# debug_level: 0

# Make sure sync_to_extruder is set to True in the [trad_rack] section

[temperature_sensor Pico]
sensor_type: temperature_mcu
sensor_mcu: tr
min_temp: 0
max_temp: 100

[fan_generic mmu_fan]
pin: mmu:gpio17
max_power: 1.0
kick_start_time: 0.25                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.1
cycle_time: 0.010
#fan_speed: 0.65