## Happy Hare MMU hardware config file with config for unknown

[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127942078-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups

# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment these alisas and configure the pin names directly into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=tr:gpio9,
    MMU_GEAR_STEP=tr:gpio6,
    MMU_GEAR_DIR=tr:gpio5,
    MMU_GEAR_ENABLE=!tr:gpio7,
    MMU_GEAR_DIAG=tr:^gpio3,
    MMU_SEL_UART=tr:gpio9,
    MMU_SEL_STEP=tr:gpio11,
    MMU_SEL_DIR=tr:gpio10,
    MMU_SEL_ENABLE=!tr:gpio12,
    MMU_SEL_DIAG=tr:^gpio4,
    MMU_SEL_ENDSTOP=^tr:gpio4,
    MMU_SERVO=tr:gpio29,
    MMU_ENCODER={encoder_pin},
    MMU_GATE_SENSOR=^tr:gpio3,
    MMU_NEOPIXEL=tr:gpio24,

