# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.
# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

[mcu tr]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127942078-if00

[trad_rack]
selector_max_velocity: 400
selector_max_accel: 10000
toolhead_fil_sensor_pin: PC5 #MANTA_MCU #^!PA1
lane_count: 10
lane_spacing: 17.190278
servo_down_angle: 0.0
servo_up_angle: 131.0
toolhead_unload_speed: 20
extruder_load_speed: 20
toolhead_sense_speed: 20
selector_unload_length: 17.5
bowden_length: 850.0
extruder_load_length: 60.5 #44.5
hotend_load_length: 13.5
toolhead_unload_length: 0 #40.0
buffer_pull_speed: 150.0    # increase this to 300+ once you are ready
sync_to_extruder: True                            # (but some motors may not be able to handle this).
save_active_lane: True
#pre_unload_gcode:
#   Gcode command template that is run before the toolhead is
#   unloaded. The default is to run no extra commands.
#post_unload_gcode:
#   Gcode command template that is run after the toolhead is
#   unloaded. The default is to run no extra commands.
#pre_load_gcode:
#   Gcode command template that is run before the toolhead is
#   loaded. The default is to run no extra commands.
#post_load_gcode:
#   Gcode command template that is run after the toolhead is
#   loaded. The default is to run no extra commands.
#pause_gcode:
#   Gcode command template that is run whenever Trad Rack needs to
#   pause the print (usually due to a failed load or unload). The
#   default is to run the PAUSE gcode command.
#resume_gcode:
#   Gcode command template that is run whenever the TR_RESUME command
#   needs to resume the print. The default is to run the RESUME
#   gcode command.

[stepper_tr_selector]
# connected to stepper_x
step_pin: tr:gpio11
dir_pin: tr:gpio10
enable_pin: !tr:gpio12
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^tr:gpio4
position_min: -0.137
position_endstop: -0.137
position_max: 154.713   # (lane_count - 1) * lane_spacing
homing_speed: 30

[tmc2209 stepper_tr_selector]
# connected to stepper_x
uart_pin: tr:gpio9
tx_pin: tr:gpio8
uart_address: 0
interpolate: True
run_current: 0.75   # for a 1A peak motor
sense_resistor: 0.110

[stepper_tr_fil_driver]
# connected to stepper_y
step_pin: tr:gpio6
dir_pin: tr:gpio5
enable_pin: !tr:gpio7
rotation_distance: 22.67895
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^tr:gpio3  # selector filament sensor
position_min: -5000
position_endstop: 0
position_max: 5000
homing_positive_dir: False

[tmc2209 stepper_tr_fil_driver]
# connected to stepper_y
uart_pin: tr:gpio9
tx_pin: tr:gpio8
uart_address: 2
interpolate: False
run_current: 0.95 #1.27   # for a 2A peak motor
sense_resistor: 0.110

[servo tr_servo]
# connected to servo/bltouch control pin
pin: tr:gpio29
maximum_servo_angle: 131
minimum_pulse_width: 0.000700
maximum_pulse_width: 0.002200

[extruder]
max_extrude_only_distance: 200
max_extrude_cross_section: 100

[belay my_belay]
extruder_type: trad_rack
sensor_pin: tr:gpio25#^PA0
multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 0

# Make sure sync_to_extruder is set to True in the [trad_rack] section

[temperature_sensor Pico]
sensor_type: temperature_mcu
sensor_mcu: tr
min_temp: 0
max_temp: 100

[fan_generic tr_fan]
pin: tr:gpio17
max_power: 1.0
kick_start_time: 0.25                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.1
cycle_time: 0.010
#fan_speed: 0.65

# Macros
[gcode_macro ACTIVATE_EXTRUDER]
rename_existing: ACTIVATE_EXTRUDER.1
gcode:
    {% set EXTRUDER = params.EXTRUDER|default('extruder')|lower|replace('extruder', '') %}
    {% if EXTRUDER == '' %}
        {% set EXTRUDER = '0' %}
    {% endif %}
    TR_LOAD_TOOLHEAD LANE={EXTRUDER}

    