########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022  moggieuk#6538 (discord) moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type unknown
#
[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127942078-if00	# Change to `canbus_uuid: 1234567890` for CANbus setups


# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS.
# The names match those referenced in the mmu_hardware.cfg file. If you get into difficulty
# you can also comment out this aliases definition and configure the pin names directly
# into mmu_hardware.cfg.
#
[board_pins mmu]
mcu: mmu # Assuming using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=gpio9,
    MMU_GEAR_STEP=gpio6,
    MMU_GEAR_DIR=gpio5,
    MMU_GEAR_ENABLE=gpio7,
    MMU_GEAR_DIAG=gpio3,
    MMU_GEAR_ENDSTOP=gpio3,
    
    MMU_SEL_UART=gpio9,
    MMU_SEL_STEP=gpio11,
    MMU_SEL_DIR=gpio10,
    MMU_SEL_ENABLE=gpio12,
    MMU_SEL_DIAG=gpio4,
    MMU_SEL_ENDSTOP=gpio4,
    
    MMU_SERVO=gpio29,
    MMU_ENCODER={encoder_pin},
    MMU_GATE_SENSOR=gpio3,
    MMU_NEOPIXEL=gpio24,

    

